body{
    background-color: #1C1C1C;
    color: #001B62;
}
.MainBox{
  display: block;
  border: 1px solid black;
  text-align: left;
  padding:5px;
  background-color: #00D1D4;
}
.SectionBox{
  display: block;
  border: 1px solid black;
  text-align: left;
  padding:5px;
  background-color: #00D1D4
  color: black;
}
.TitleBox{
    display: block;
    border: 2px solid black;
    text-align: center;
    padding:5px;
}
.Box{
    display: block;
    border: 1px solid black;
    text-align: left;
    padding:5px;
}
.UsageBox{
    display: block;
    border: 1px solid black;
    text-align: left;
    width:15%;
    padding:5px;
    overflow:auto;
}
.NoteBox{
    display: block;
    border: 1px solid black;
    text-align: left;
    width: 25%;
    padding:5px;
    overflow:auto;
}
.tab{
  margin-left: 40px;
}
.doubletab{
  margin-left: 80px;
}
.BackgroundText{
  color: #00D1D4;
}
